@{
    Layout = "~/_layout.cshtml";
}
<script src="../../static/scripts/raphael.min.js"></script>
<script src="code/common.js"></script>

<div class="container theme-showcase">
    <div class="row">
        <div class="col-lg-8">
            @Model.Content
        </div>
        <div class="col-lg-4">
            <div class="alert alert-info">
                <h3>@ViewBag.Title</h3>
                <div @ValueIf(ViewBag.hidePerformance, "style='display: none;'")>
                    <strong>Performance</strong>
                    <ul>
                        <li>Read: <strong>@ViewBag.readTime</strong></li>
                        <li>Insert: <strong>@ViewBag.insertTime</strong></li>
                        <li>Delete: <strong>@ViewBag.deleteTime</strong></li>
                    </ul>
                </div>
                <strong>Quick Links</strong>
                <ul>
                    <li><a href="@ViewBag.wikipedia">Wikipedia: @ViewBag.Title</a></li>
                </ul>
            </div>
            <div class="alert alert-success">
                <h3>More Learning</h3>
                <strong>More Learning</strong>
                <ul>
                    <li><a href="http://www.youtube.com/watch?v=QMV45tHCYNI&list=PL4BBB74C7D2A1049C" title="39 CS lectures">Berkeley CS Lectures (39 videos)</a></li>
                </ul>
                <strong>Discussions</strong>
                <ul>
                    <li><a href="http://stackoverflow.com/questions/tagged/data-structures?pageSize=15">#data-structures on stackoverflow.com</a></li>
                </ul>
                <strong>Editor's Picks</strong>
                <ul>
                    <li><a href="http://stackoverflow.com/questions/500607/what-are-the-lesser-known-but-useful-data-structures?rq=1">What are the lesser known but useful data structures?</a></li>
                    <li><a href="http://bigocheatsheet.com/">Big-O Cheat Sheet</a></li>
                </ul>
            </div>
            <div class="alert alert-warning">
                <strong>Something wrong? </strong> Please let me know, all my contact details are on the <a href="../about.html">About Me page</a>.
            </div>
        </div>
    </div>
</div>
<hr />
